.containerPrincipalList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.containerTitleAndButton {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 70%;
  color: #ecf0f1;
  margin-bottom: 0.4rem;
}

.containerTitleAndButton button {
  background-color: #ecf0f1;
  border-radius: 0.4rem;
  padding: 0.4rem;
  border: 1rem;
  font-family: Merriweather;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ecf0f1;
  width: 50%;
  overflow-y: auto;
  max-height: 62vh;
  min-height: 60vh;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.5);
}
